@use '../../Styles/utility' as u;

.chat {
  display: flex;
  flex-direction: column;
  width: 65%;
  min-width: 400px;
  height: 100%;
  position: relative;

  @include u.responsive(mobile) {
    min-width: 100%;
    width: 100%;
  }
  &__header {
    @include u.flex-display(row, space-between, center);
    height: 60px;
    padding: 0 17px;
    background: u.$sidebar-header-grey;

    @include u.responsive(mobile) {
      width: 100%;
      padding: 0px;
    }

    .current-img {
      width: 43px;
      height: 43px;
      background: #fff;
      border-radius: 50%;
      overflow: hidden;
      @include u.responsive(mobile) {
        margin-left: 20px;
      }
    }

    &--current {
      flex: 1;
      @include u.flex-display(row, flex-start, center);
      overflow: hidden;

      .current-info {
        margin-left: 15px;
        overflow: hidden;
        flex: 1;
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          margin-bottom: 2px;
        }
      }
    }

    &--options {
      width: 245px;
      @include u.flex-display(row, space-between, center);
      position: relative;
      @include u.responsive(xsmobile) {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        justify-content: flex-end;
      }

      div:first-child {
        border-right: 1px solid grey;
        @include u.responsive(xsmobile) {
          display: none;
        }
      }
      div {
        @include u.flex-display(row, center, center);
        span {
          margin: 0px 12px;

          &.active {
            background-color: u.$sidebar-margin-grey;
          }
        }
      }

      .more {
        position: absolute;
        background: u.$chat-white;
        font-size: 14px;
        top: 55px;
        right: 0px;
        width: 200px;
        border-radius: 3px;
        color: rgb(66, 66, 66);
        display: flex;
        flex-direction: column;
        height: 0px;
        z-index: 2000;
        overflow: hidden;
        transition: all 0.2s ease;

        &.open {
          padding: 10px 0;
          height: auto;
        }
        p {
          width: 100%;
          padding: 10px 20px;
          cursor: pointer;
          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
  &__body {
    flex: 1;
    background-image: url("../../Assets/img/wallpaper.png");
    background-size: cover;
    overflow-y: scroll;

    &--messages {
      height: 100%;
      width: 85%;
      margin: 0 auto;

      .noMessage {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 12px;
        padding: 5px;
        border-radius: 7px;
        background: u.$chat-message-right;
        margin-left: 50%;
        margin-top: 10px;
        transform: translateX(-50%);
      }
    }

    &--encryption {
      font-size: 12px;
      background: u.$chat-yellow;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      border-radius: 8px;
    }
  }

  &__input {
    @include u.flex-display(row, center, center);
    background-color: u.$sidebar-header-grey;
    min-height: 60px;

    &--container {
      @include u.flex-display(row, space-between, center);
      padding: 0 20px;
      width: 100%;

      .textInput {
        width: 77%;
        background: u.$chat-white;
        padding: 5px 15px;
        border-radius: 20px;

        input {
          height: 32px;
          width: 100%;
          font-size: 16px;
          color: rgb(71, 71, 71);
          outline: none;
          border: none;
        }
      }
      span {
        display: grid;
        place-items: center;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: u.$sidebar-margin-grey;
        }

        &.active {
          background-color: u.$sidebar-margin-grey;
        }
      }
    }

    &--emoji {
      position: absolute;
      display: none;
      left: 10px;
      bottom: 60px;

      &.open {
        display: block;
      }
    }
  }

  &__inactive {
    height: 100%;
    background-image: url("../../Assets/img/empty-chat.jpg");
    background-position: center top;
    border-bottom: 5px solid #f19191;
    position: relative;

    p {
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}

.chat__header--options div span {
  display: grid;
  place-items: center;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: u.$sidebar-margin-grey;
  }
}

.transparent {
  height: 50px;
}
