$chat-white: #fff;
$chat-ribbon-green: #8a52d9;
$sidebar-header-grey: #f2e7dc;
$sidebar-search-grey: #f2e7dc83;
$sidebar-margin-grey: #f2a0a077;
$chat-yellow: #fef4c5;
$sidebar-active-grey: rgb(102, 102, 102);
$chat-scroll-grey: #f2a0a05e;
$chat-message-right: #f2df7e;

// head => #00bfa5
// belowHead => #ededed
// search surround => #f6f6f6
//  darker grey for thumbsroll #cccccc
