$chat-white: #fff;
$chat-ribbon-green: #00bfa5;
$sidebar-header-grey: #edededd5;
$sidebar-search-grey: #f6f6f6;
$sidebar-margin-grey: #c9c9c977;
$chat-yellow: #fdf4c5;
$sidebar-active-grey: #ebebeb;
$chat-scroll-grey: #8888885e;
$chat-message-right: #dcf8c6;

// head => #00bfa5
// belowHead => #ededed
// search surround => #f6f6f6
//  darker grey for thumbsroll #cccccc
