$chat-white: #fff;
$chat-ribbon-green: #00bfa5;
$sidebar-header-grey: #f0f0f0;
$sidebar-search-grey: #f6f6f6;
$sidebar-margin-grey: rgba(212, 212, 212, 0.795);
$chat-scroll-grey: rgba(172, 172, 172, 0.685);
$chat-message-right: #dcf8c6;

// head => #00bfa5
// belowHead => #ededed
// search surround => #f6f6f6
//  darker grey for thumbsroll #cccccc
