@use '../../../Styles/utility' as u;

.message {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  max-width: 70%;
  margin-top: 13px;
  padding: 5px 8px 5px 8px;
  border-radius: 8px;
  background: #9857f2;
  position: relative;
  box-shadow: 0px 1px 1px -1px #000;
  color: #fff;
  &::before {
    content: " ";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #9857f2;
    top: 0;
    left: -8px;
  }

  &__body {
    font-size: 14px;
  }

  &__filler {
    width: 40px;
    display: inline-block;
    height: 3px;
    background: transparent;
  }

  &__timestamp {
    position: absolute;
    font-size: 11px;
    right: 7px;
    bottom: 5px;
  }
}

.message.same {
  margin-top: 3px;
  &::before,
  &::after {
    display: none;
  }
}

.message.right {
  margin-left: auto;
  background: u.$chat-message-right;
  color: #000;

  & .message__timestamp {
    color: #000;
  }

  &::before {
    display: none;
  }
  &::after {
    content: " ";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: u.$chat-message-right;
    top: 0;
    right: -8px;
  }
}
